.admin-content {
    width: 100%;
    height: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.admin-container {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    border-radius: 1rem;
    background: #ffffff;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

#adminForm label {
    width: 8rem;
}

#adminForm input {
    width: 15rem;
}

@media (min-width: 768px) {
    .admin-container {
        width: 60%;
    }
}

@media (min-width: 1024px) {
    #adminForm label {
        width: 12rem;
    }

    #adminForm input {
        width: 16rem;
    }

    .admin-container {
        width: 70%;
    }
}

@media (min-width: 1200px) {
    .admin-container {
        width: 50%;
    }

    #adminForm input {
        width: 18rem;
    }
}